@model Instructor;

<h1>Instructor Details</h1>

@if(ViewBag.StudentProfilePhoto != null)
{
<img src="@ViewBag.StudentProfilePhoto" alt="Student Profile Photo for @Model.LastName" width="20%" height="20%" class="img-thumbnail" />
}

<table class="table table-dark">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Rank</th>
        <td>@Model.Rank</td>
    </tr>
    <tr>
        <th>Hiring Date</th>
        <td>@Model.HiringDate</td>
    </tr>
</table>